[submodule "Greenhouse_Actuators"]
	path = actuators
	url = https://github.com/farochmehri/actuators-ht19.git

[submodule "Greenhouse_Sensors"]
	path = sensors
	url = https://github.com/farochmehri/sensors-ht19.git

[submodule "Greenhouse_Communication"]
	path = communication
	url = https://github.com/farochmehri/communication-ht19.git   

[submodule "Greenhouse_HMI"]
	path = hmi
	url = https://github.com/farochmehri/hmi-ht19.git

[submodule "hackathon"]
	path = hackathon
	url = https://github.com/YrkesAkademin-Trollhattan/hackaton_1.git

